@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
    --primary: #e37676;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
}

.input-container {}

.search_icon img {
    width: 2rem;
    height: 2rem;
    display: inline;
}

#searchInput {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 50%;
    height: 30px;
    padding: 20px;
    margin: 20px;
    margin-left: 370px;
}

.product_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.product_card {
    box-shadow: 0px 7px 32px rgba(0, 0, 0, 0.25);
    width: 600px;
    min-height: 200px;
    border-radius: 5px;
    display: flex;
}

.image_container {
    flex: 1;
    border-right: 1px solid black;
    padding: 10px;

}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product_content {
    flex: 5;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

/* Product Content Style */

.product_content h2 {
    font-size: 16px;

}

.product_content p {
    font-size: 13px;
    font-weight: 400;
    opacity: 0.8;

}

.product_content button {
    font-size: 20px;
    background: #ad4dda;
    border: none;
    color: white;
    font-weight: 550;
    padding: 3px 15px;
    align-self: end;
    margin-top: 20px;
}

@media(max-width:630px) {
    .product_card {
        width: 90%;
    }
}

@media (max-width:425px) {
    .product_card {
        display: flex;
        flex-direction: column;


    }

    .image_container img {
        height: 40vh;
    }

    .product_content button {
        align-self: stretch;
    }
}